/* Pré-definições da página */
html{
	height:100%;
	width:100%;
}
body{
	background-color: #f0f0f0;
	margin: 0px;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: stretch;
}
#side-menu{
  display: none !important;
}
/* Upper menu */
#upper-menu{
	background-color: transparent !important;
	position: fixed;
	top: 0;
	width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
	font-size:21px;
	color:white;
	flex: 0 0 auto;
	z-index: 5;
}
#upper-menu .mobile-menu{
	display: flex;
	background-color: rgba(255, 255, 255, 0.85);
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
	padding: 0px 20px 0px 5px;
}
#upper-menu #hamburger{
	display: block !important;
	height: 40px;
	padding: 5px;
	width: auto;
	border-radius: 200%;
}
#upper-menu .mobile-title{
	color: #666666;
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
}
.mobile-notifbubble{
	min-width: 15px;
	max-width: auto;
	height: 15px;
	padding: 2px;
	border-radius: 100px;
	background-color: rgba(243,20,49,0.7);
	border: 1px solid rgba(243,20,49,1);
	line-height: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	text-align: center;
	position: relative;
	left: 10px;
	top: 5px;
	z-index: 1;
}
#upper-menu #user-image{
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
#upper-menu #empresa{
	display: none;
}
#upper-menu .menu-itеm{
	background-color: transparent;
	padding:11px;
	border:none;

	color:white;
	font-size:17px;
	font-family: 'Roboto Condensed', sans-serif;
}
#upper-menu #user-space{
    display: none !important;
}
/* Menu lateral do Mobile */
@keyframes ShowMenu {
	0%{
		display: none;
		margin-left: -80vw;
	}
	100%{
		display: block;
		margin-left: 0vw;
	}
}
@keyframes HideMenu {
	0%{
		display: block;
		margin-left: 0vw;
	}
	100%{
		margin-left: -80vw;
		display: none;
	}
}
.side-mobile{
	display: none;
	background-color: #188da1;
	position: fixed;
	max-width: 80vw;
	min-width: 80vw;
	z-index: 8;
	height: 100vh;
	top: 0;
	margin-left: 0vw;
	padding-top: 10px;
	overflow: auto;
}
.side-mobile #user-img{
	display: block;
	margin: 0 auto;
	margin-bottom: -30px;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	border: 5px solid #f5f5f5;
}
.side-mobile #close-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	float: right;
	font-size: 25px;
	color: #ffffff;
}
.side-mobile .side-caption{
	display: block;
	margin: 0px 0px 20px 20px;
	color: #666666;
	font-family: 'Roboto', sans-serif;
	font-weight: thin;
}
.side-mobile .side-separator{
	width: 80%;
	border: 0.3px solid #ebebeb;
}
.show{
	display: block;
	animation: ShowMenu 0.5s;
	animation-fill-mode: forwards;
}
.close-menu{
	display: block;
	animation: HideMenu 0.5s;
	animation-fill-mode: forwards;
}
#layer{
	display: none;
	position: fixed;
	z-index: 6;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.25);
}
/* Definindo valores para o content */
#content{
	min-height: 100vh;
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}
#content #content-body{
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    flex-wrap: wrap;
    flex: 1 1 auto;
		padding-top: 30px;
		overflow: auto;
}
/* Sistema de linhas */
#content .row{
		background-color: transparent;
		padding-top:30px;
		padding-bottom:10px;

		display: flex;
		flex:0 1 auto;
		align-self: stretch;
		flex-direction: row;
		flex-wrap: wrap;
}
/* Cards utilizados na index */
#content #content-body .log-card{
		background-color: #f3f3f3;

		flex: 1 0 auto;
		display: flex;
	  flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;

	  border-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
		border:3px solid rgba(0, 0, 0, 0.04);

    padding:0px;
    margin: 0px 5px 10px 5px;

		font-family: 'Lato', sans-serif;
    font-size:24px;
    color: #666666;
    /* box-shadow: -1px 1px 1px 0px rgba(0, 0, 0, 0.2), 1px 1px 1px 0px rgba(0, 0, 0, 0.19); */

		width: 95%;
    height: 100px;
    max-height: 150px;
}

.log-card .log-content{
	padding-right: 10px;
  flex:1 1 auto;
	display: flex;
	flex-direction: column;

	font-weight: bold;
	font-size: 40px;
	margin-left: 10px;
}

.log-card-image{
  max-width:10%;
	align-self: stretch;
  flex:1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 10px;
	padding-left:30px;
	padding-right:30px;

	color:white;
}
/* Variação de cor nos cards */
.log-card-image.sellings{
	background-color: #F4BB00;
}
.log-card-image.profit{
	background-color: #009A80;
}
.log-card-image.shelves{
	background-color: #5F0BA4;
}
.log-card-image.mov{
	background-color: #D70048;
}
.log-card.mov-full{
	background-color: #e6004c !important;
	color: white !important;
}
.log-card-image.stock{
	background-color: #dc4332;
}
.log-card.stock-full{
	background-color: #de4f3f !important;
	color: white !important;
}
.log-card-image.pnap{
	background-color: #0192b7;
}
.log-card.pnap-full{
	background-color: #019fc6 !important;
	color: white !important;
}
.log-card-image.plhd{
	background-color: #03844b;
}
.log-card.plhd-full{
	background-color: #039151 !important;
	color: white !important;
}
.log-title{
	font-size: 15px;
  margin-right:auto;
	margin-bottom: 0;
	margin-top: 10px;
}
.log-number{
	align-self: left;
	font-size: 9vw;
}
/* Estilização dos gráficos */
.graph-wrapper{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	justify-content: space-between;
}
.graph-container{
	background-color: #f3f3f3;
	display: block;
	position: relative;

  height: auto !important;
	width: 90%;

	border:3px solid rgba(0, 0, 0, 0.07);
	border-radius:4px;

	padding: 2%;
	margin: 0 auto;
	margin-right: auto;
	margin-bottom: 15px;
}
.graphics{
	background-color: red;
	width: 600px !important;
	height: 400px !important;
}
/* Parte destinada ao usuário no upper menu */
#user-space{
	display: block;
	margin: 0;
	padding: 0;
}
#user-space li{
	display: inline-block;
	list-style: none;
}
/* Bolha de notificação ao lado do sino */
.notification{
	min-width: 15px;
	max-width: auto;
	height: 15px;
	border-radius: 100px;
	background-color: rgba(243,20,49,0.8);
	border: 1px solid rgba(243,20,49,1);
	line-height: 15px;
	font-family: 'Lato', sans-serif;
	font-size: 10px;
	text-align: center;
	position: relative;
	left: 10px;
	top: 10px;
	z-index: 1;
}
/* Dropdown do usuário */
#user-space #user-dropdown{
	position: relative;
}
#user-space li a{
	display: block;
	color: white;
	text-decoration: none;
}
#user-space li .user-info{
	display: none;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	margin-top: 11px;
	text-align: left;
	z-index: 7;
}
#user-space li .user-info li{
	width: 250px;
	font-family: 'Lato', sans-serif;
	position: absolute;
	background-color: #333745;
	right: -15px;
}
#user-space li .user-info.visible{
    display: flex !important;
		flex-wrap: wrap;
}
#user-space li a{
	display: block;
	color: white;
	text-decoration: none;
}
.user-info li div hr{
	margin-top: 10px;
	margin-bottom: 10px;
	width: auto;
}
.user-info li .card-image{
	width: 80px;
	height: 80px;
	margin: 0px 10px 0px 15px;
	border-radius: 100px;
	border: 5px solid white;
	margin-bottom: -45px;
}
.user-card{
	background-color: white;
	color: #333745;
	padding: 40px 0px 10px 0px;
	height: 80%;
	overflow: auto;
}
.card-name{
	font-size: 20px;
	color: black;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.card-location{
	font-weight: thin;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}
.card-icon{
	margin-right: 0px !important;
	color: #333745;
	width: 30px;
}
.user-options{
	width: 100%;
	font-size: 17px;
	text-align: left !important;
	margin-left: 0;
	font-family: 'Roboto', sans-serif;
}
.user-options .card-link{
	display: block;
	text-decoration: none;
	color: #333745 !important;
	margin: 0px 0px 0px 10px;
}
.night-btn{
	color: #333745 !important;
}
/* Tabela da página de movimentações */
.table-mov{
	font-family: 'Lato', sans-serif;
	width: 80%;
	height: 100%;
	border: 1px solid #333745;
}
.table-mov th{
	background-color: #333745;
	color: white;
	font-size: 20px;
	padding: 15px 0px 15px 0px;
}
.table-mov td{
	padding: 10px 0px 5px 10px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #333745	;
	text-align: center;
}
/* Página de Funcionários */
.func-wrapper{
	background-color: #fbfbfb;
	width: 95%;
	height: 100%;

	padding: 10px;

	font-family: 'Lato', sans-serif;
}
.func-title{
	font-size: 45px;
	color: #333;
}
.func-caption{
	font-size: 15px;
	color: #636262;
	margin-left: 4px;
}
.func-divider{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}
.search-container{
	float: right;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
}
.search-btn{
	border: none;
	background-color: #2B6ADE;
	border-radius: 0px 3px 3px 0px;
	cursor: pointer;
}
.search-icon{
	padding: 8px;
	color: white;
}
.search-input{
	padding-left: 4px;
	outline:none;
	border:3px solid rgba(0, 0, 0, 0.05);
	border-right:none;
}
.search-input:focus{
	border-color:#2B6ADE;
}
/* Tabela dos funcionários */
.table-func{
	margin-top: 50px;
	width: 100%;
}
.table-func th{
	text-align: left;
	padding-bottom: 7px;
	padding-left: 5px;
}
.table-func tr:nth-child(even){
	background-color: #f5f5f5;
}
.table-func td{
	padding: 10px 0px 10px 5px;
	color: rgba(0, 0, 0, 0.5);
	width: 20%;
}
.table-func td:last-child{
	width: 30%;
}
/* Estilização das ações */
.table-func td button{
	font-size: 15px;
	color: white;
	padding: 0px 8px 0px 0px;
	cursor: pointer;
}
.table-func td button i{
	background-color: rgba(0, 0, 0, 0.1);
	padding: 8px;
	color: white;
}
.table-func td button span{
	padding-left:8px;
	padding-right:8px;
}
.func-view{
	border: none;
	background-color: #42C752;
	border-radius: 3px;
}
.func-edit{
	border: none;
	background-color: #f0ad4e;
	border-radius: 3px;
}
.func-delete{
	border: none;
	background-color: #FD5357;
	border-radius: 3px;
}
/* Página de Configurações */
.config-wrapper{
	width: 95%;
	height: 100%;
	background-color: #fbfbfb;
	padding: 10px;

	font-family: 'Lato', sans-serif;
}
.config-title{
	font-size: 45px;
	color: #333;
}
.config-caption{
	font-size: 15px;
	color: #636262;
	margin-left: 4px;
}
.config-divider{
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	padding: 0;
}
.config-content{
	display: flex;
	padding: 20px;
}
.config-content .first-section{
	width: 70%;
	height: 100%;
}
.config-content .second-section{
	width: 30%;
	height: 100%;
	border-left: 1px solid #ccc;
	padding-left: 10px;
}
/* Estilizações referentes a parte do usuário nas configurações */
.config-img{
	display: block;
	margin: 0 auto;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}
.alterar-info{
	padding: 8px;
	border: none;
	color: #333;

	width: 80px;

	float: right;
	position: relative;
	bottom: 30px;
	right: 20px;
}
/* Accordion e afins */
.accordion{
	background-color: transparent;
	text-align: left;
	color: #333;
	font-size: 15px;
	font-family: 'Lato', sans-serif;

	border: none;
	outline: none;
	width: 80%;
	padding: 18px;
	cursor: pointer;
	transition: 0.4s;
}
.accordion:after{
	content: '\02795';  /* unicode para o sinal de + */
	font-size: 13px;
	font-family: "Segoe UI Symbol";
	color: #333;
	float: right;
	margin-left: 5px;
}
.accordionactive:after{
	content: '\2796'; /* unicode para o sinal de - */
	font-size: 13px;
	color: #333;
	float: right;
	margin-left: 5px;
}
.panel{
	font-family: 'Lato', sans-serif;
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}
/* Página de Lotes */
.lg-layout{
	margin-left: 50px;
}
.lg-layout .filter-menu{
	align-self: flex-start;
	flex: 0 1 auto;
}
.main-wrapper{
	background-color: rgba(0, 0, 0, 0.04);
	padding:10px;
	padding-top:25px;
	flex: 0 1 auto;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.main-wrapper .batch{
	background-color: transparent;
	display: flex;
	flex-direction: column;
	border:none;
}
.main-wrapper .batch-title{
	padding-bottom:0px;
	align-self: stretch;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size:5vw;
}
.main-wrapper .batch-barcode{
	margin-bottom:10px;
	color:rgba(0, 0, 0, 0.5);
	font-size:4.3vw;
}
.main-wrapper .batch-icon{
	all:unset;
    width:30vw;
    height:30vw;
}
.main-wrapper hr{
	border-color:rgba(0, 0, 0, 0.2);
	margin-top:20px;
	width:40vw;
}
.main-wrapper .infos-wrapper{
	background-color: transparent;
	max-width:60%;
	align-self: stretch;
	flex:0 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.main-wrapper .infos-wrapper .info-wrapper{
	background-color: transparent;
    max-width:80%;
    border:none;

    display: flex;
    flex:1 0 auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
}
.main-wrapper .infos-wrapper .info-wrapper .input-change{
	background-color: rgba(0, 0, 0, 0.04);
	max-width:60%;
	padding:5px;
	outline:none;
	border:none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;

	flex:1;
	text-align: center;
	color:rgba(0, 0, 0, 0.8);
	font-size:4.5vw;
}
.main-wrapper .infos-wrapper .info-wrapper i{
    background-color: rgba(0, 0, 0, 0.1);
    padding:8px;
    margin-right:5px;
    border:none;
    border-radius:3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size:4.5vw;
    color:rgba(0, 0, 0, 0.87);
}
.main-wrapper .infos-wrapper .input-changeable:focus{
	border-color:blue;
}
.main-wrapper .infos-wrapper .batch-date{
	color:rgba(0, 0, 0, 0.8);
}


/* ~ FOOTER ~ */
footer{
	margin-top:auto;
	padding:15px;
	flex:0.4 1 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
footer button{
	border: none;
	border-radius:4px;
	padding:0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color:white;
	font-size:4.5vw;
}
footer button.move{
	background-color: #F29212;
}
footer button.delete{
	background-color: #FF5333;
}
footer button i{
	background-color: rgba(0, 0, 0, 0.1);
	padding:12px;
	margin:0px;
}
footer button span{
	background-color: transparent;
	padding-left:20px;
	padding-right:20px;
	align-self: stretch;
	display: flex;
	flex:1 1 auto;
	align-items: center;
	justify-content: center;
}
/* Página de Movimentações */
.content{
	background-color: #f0f0f0;
	align-items: stretch;
}
.move-wrapper{
	background-color:#f3f3f3;
	border:1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin:5px;
	margin-top: 7px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.move-wrapper-header{
	background-color: transparent;
	padding:8px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	color: rgba(0, 0, 0, 0.5);
}

.move-wrapper-content{
	padding:15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.move-part{
	background: transparent;
	border-radius:3px;
	padding:10px;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.2);
	padding-bottom:4px;
	border-radius:3px;
}

.move-part .move-part-header{
	background-color: rgba(255, 255, 255, 0.5);
	padding: 8px;
	margin-bottom:6px;
	border-radius:3px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	color:#909090;
}

.move-part.origin{
	display: flex;
	justify-content: center;
	align-items: center;
}

.move-part.origin .origin-card{

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.move-part.origin .origin-card .origin-header{
	background-color: rgba(255, 255, 255, 0.5);
	padding-left:8px;
	margin-bottom:6px;
	border-radius:3px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	color:#909090;
}

.move-part.origin .origin-card .origin-header .origin-quantity{
	background-color: #2F70BD;
	padding:8px;
	margin-left:8px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	color:#FD5357;
}

img{ /*.move-part.origin .origin-card*/
	width:50px;
	height:50px;
}

.img-desc{
	margin-top:4px;
	color:rgba(0, 0, 0, 0.5);
}

.move-part.arrows{
	background-color: transparent;
	border:none;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.move-part.arrows i{
	font-size:40px;
	color:rgba(0, 0, 0, 0.2);
}

.move-part.arrows i.active{
	color:#81d491;
}

.move-part.arrows .btn-lote{}

.move-part.destination{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.move-part.destination img{}

.btn-see-batch{
	background-color: #81d491;
	border-radius:3px;
	margin-left:20px;
	margin-right: 20px;
	margin-bottom: 10px;

	align-self: stretch;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: flex-start;

	color: white;
	cursor:pointer;
}
.btn-see-batch:hover{
	background-color: #65CC77;
}

.btn-see-batch i{
	background-color: rgba(0, 0, 0, 0.2);
	padding:8px;
	padding-left:10px;
	padding-right: 10px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size:16px;
	color:rgba(0, 0, 0, 0.2);
}
.btn-see-batch:hover i{
	color:white;
}

.btn-see-batch span{
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;

	font-size:16px;
	color: rgba(255, 255, 255, 1);
}

/* Página de Produtos */
.content .lg-layout{
	margin-left: 50px;
}
.content .product-wrapper{
    display: flex;
}
.content .product{
    /*background-color:rgba(0, 0, 0, 0.04);*/
    border:1px solid transparent;
    padding:15px;
    padding-right:0px;
    margin:4px;

    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
}
.content .product-id-wrapper{
    margin-right:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.4);
}
.content .product-id{
    background-color: transparent;
    padding:0px;
    color: rgba(0, 0, 0, 0.4);
    font-size:19px;
}
.content .product-icon{
    margin-top:10px;
    width:60px;
    height:60px;
    align-self: center;
    /*align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;*/
}
.content .product-id-wrapper .product-date{
    align-self: center !important;
}

.content wrapper{
    padding-left:9px;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-around;
    align-items: flex-start;
}
.content .product-product{
    background-color: rgba(255, 255 , 255, 0.5);
    align-self: flex-start;
    border-radius:3px;
    padding:10px;
    margin-top:3px;
    color: #909090;
}
.content .product-date{
    background-color: rgba(255, 255 , 255, 0.5);
    align-self: flex-start;
    border-radius:3px;
    padding:10px;
    margin-top:3px;
    color: #909090;
}
.content .infos-wrapper{
    display: flex;
}
.content .product-info{
    background-color: rgba(255, 255 , 255, 0.5);
    border-radius:3px;
    margin-top:3px;
    margin-right:3px;

    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;


    color: #909090;
}
.content .product-info .info-title{
    background-color: #2F70BD;
    padding:5px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    color:white;
    font-size:14px;
}
.content .product-info span{
    padding:4px;
    display: flex;
    justify-content: center;
}
.content .product-error{
    background-color: #FF4D44;
    align-self: flex-start;
    border-radius:3px;
    padding:10px;
    margin-top:3px;
    color: white;
}
.content .item-qtd{
    display: flex;
    flex-direction: row;
}
.content .item-qtd .qtd{
    background-color: #2F70BD;
    padding-left:3px;
    padding-right:3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color:white;
}
/* RESOLUÇÃO DE CONFLITOS */
.left-menu{
  display: none;
}
.lg-layout{
  all:inherit;
}
.product-wrapper{
  all: unset;
}
